.tooltip {
    display: none;
    position: absolute;
    background-color: #38393d;
    height: 40px;
    width: 120px;
    top: 100%;
    color: #fff;
    border-radius: 4px;
    z-index: 10;
    font-weight: 400;
    box-sizing: unset;
}
.tooltip label {
    padding: 12px 16px;
    line-height: 40px;
    position: relative;
}
.tooltip label div {
    position: absolute;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 20px #38393d solid;
}

/* tooltip reload */
.tooltip-reload {
    right: 0;
    width: 120px;
    top: 150%;
}
.tooltip-reload label div {
    top: -5px;
    right: -4px;
}

/* tooltip reload */
.tooltip-excel {
    right: 0;
    width: 120px;
    top: 150%;
}
.tooltip-excel label div {
    top: -5px;
    right: -102px;
}

/* Tooltip Số CMND */
.tooltip__so-cmnd {
    width: 190px;
}
.tooltip__so-cmnd label div {
    top: -5px;
}
.thead__so-cmnd:hover .tooltip__so-cmnd {
    display: block;
}
/* Thu gọn sidebar */
.tooltip__sidebar {
    top: 30px;
    left: 0;
    width: 140px;
}
.tooltip__sidebar label div {
    top: -5px;
}
.icon-sidebar:hover .tooltip__sidebar {
    display: block;
}
/* Mở rộng sidebar */
.tooltip__sidebar-white {
    top: 44px;
    left: 0;
    width: 140px;
}
.tooltip__sidebar-white label div {
    top: -5px;
}
.icon-sidebar-white:hover .tooltip__sidebar-white {
    display: block;
}
/* Thông báo */
.tooltip__bell {
    top: 35px;
    left: 0;
    width: 100px;
}
.tooltip__bell label div {
    top: -5px;
}
.icon-bell:hover .tooltip__bell {
    display: block;
}
/* Popup close */
.tooltip__close {
    top: 35px;
    left: 0;
    width: 100px;
}
.tooltip__close label div {
    top: -5px;
}
.icon-close:hover .tooltip__close {
    display: block;
}
/* Popup help */
.tooltip__help {
    margin-top: 2px;
    top: 35px;
    left: 0;
    width: 100px;
}
.tooltip__help label div {
    top: -5px;
}
.icon-help:hover .tooltip__help {
    display: block;
}
